---
import ContentBlock from "../../../../components/content/ContentBlock.astro";
import { articleEntries, type Article } from "../../../../data/blog-articles";
import BlogArticleLayout from "../../../../layouts/BlogArticleLayout.astro";

export async function getStaticPaths() {
  return articleEntries.map((article) => ({
    params: { slug: article.slug },
    props: { article },
  }));
}

type Props = {
  article: Article;
};

const { article } = Astro.props;
---

<BlogArticleLayout article={article}>
  {article.parentCategoryPath && (
    <section class="content-block">
      <p><a href={article.parentCategoryPath}>Retour à la catégorie</a></p>
    </section>
  )}

  {article.sections.map((block) => <ContentBlock block={block} pageSlug={`ressources/blog/motivation/${article.slug}`} />)}
</BlogArticleLayout>
