---
import { render } from "astro:content";
import { getMotivationArticles, type Article } from "../../../../data/blog-articles";
import BlogArticleLayout from "../../../../layouts/BlogArticleLayout.astro";

export async function getStaticPaths() {
  const articles = await getMotivationArticles();

  return articles.map((article) => ({
    params: { slug: article.id },
    props: { article },
  }));
}

type Props = {
  article: Article;
};

const { article } = Astro.props;
const { Content } = await render(article);
---

<BlogArticleLayout article={article}>
  {article.data.parentCategoryPath && (
    <section class="content-block">
      <p><a href={article.data.parentCategoryPath}>Retour à la catégorie</a></p>
    </section>
  )}

  <section class="content-block article-body">
    <Content />
  </section>
</BlogArticleLayout>
