---
type Props = {
  href: string;
  title: string;
  description?: string;
};

const { href, title, description } = Astro.props;
---

<a class="editorial-card" href={href}>
  <div class="editorial-card__header">
    <h3>{title}</h3>
  </div>
  {description && <p>{description}</p>}
</a>
